.quote {
  background-color: #3b999b;
  color: #e3e4e6;
  border-radius: 1rem;
  padding: 5rem;
  margin: 5rem auto;
  width: 90%;
  max-width: 70rem;
}

.quote p {
  font-size: 4rem;
}

.quote figcaption {
  font-style: italic;
  font-size: 1.8rem;
  text-align: right;
  color: #ee5873;
}
