.button {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  background-color: #ee5873;
  border: 1px solid #e3e4e6;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  color: #e3e4e6;
}
